.shareClient, .shareClient * {
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.shareClient {
    position: fixed;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    height: calc(calc(100% - 40px) - env(safe-area-inset-bottom));
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #444;
}
.shareHeader {
    height: calc(100% - 40px);
    background-color: #555;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.shareClient h2 {
    margin: 0;
    line-height: 64px;
    font-size: 48px;
}
.shareClient h3 {
    margin: 0;
}
.credit {
    position: absolute;
    bottom: 10px;
    font-size: 0.9em;
}
.shareClient .barcode {
    border-radius: 10px;
    padding: 10px 2%;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.shareClient .barcode canvas {
    width: calc(100% - 40px);
    max-width: 700px;
    height: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.shareClient footer, .shareClient > .dangerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 10%;
}
.shareClient footer > * {
    width: 100%;
    height: 100%;
    padding: 20px;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.shareClient .loading {
    position: absolute;
    width: 100%;
    height: 100%;
}
.themeSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
button.lightMode {
    background-color: #eee;
    color: #111;
    border-radius: 100px;
}
button.lightMode:hover {
    border-color: #111;
}
/* light theme */
.shareOuterHeader {
    height: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 0;
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: black;
    position: relative;
}
.shareOuterHeader button {
    font-weight: 500;
    background-color: transparent;
    color: black;
    padding: 0;
    outline: none;
}
.shareOuterHeader h2 {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}
.shareClient.light {
    background-color: #0066A2;
    color: white;
    padding: 30px 20px;
    padding-top: 80px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    margin: 15px 20px;
    width: calc(100% - 80px);
    height: calc(100% - 340px);
}
body.light {
    background-color: #CBCBCB;
    z-index: -100;
}
.shareClient.light:before {
    content: "";
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #00508C;
    z-index: -1;
}
.shareClient.light:after {
    content: "UCSC Dining Services";
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    font-size: 24px;
    text-align: center;
}
.shareClient.light .shareHeader {
    background-color: #CCC;
    padding: 60px 10px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.shareClient.light .shareHeader:before {
    content: "";
    position: absolute;
    top: -80px;
    left: 50%;
    width: 32px;
    height: 32px;
    transform: translateX(-50%);
    background-color: #00508C;
    z-index: -1;
}
.shareClient.light footer, .shareClient.light > .dangerBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    gap: 1px;
    background-color: #777;
    justify-content: center;
}
.shareClient.light footer > *, .shareClient.light .dangerBtn {
    border-radius: 0;
    background-color: white;
    color: #777;
    padding: unset;
}
.balance {
    font-size: 24px;
    line-height: 0;
}
.trend {
    font-size: 0.9em;
}
.trend.positive {
    color: #00FF00;
}
.trend.negative {
    color: #FF0000;
}
.shareClient.light .trend.positive {
    color: #00AA00;
}
.shareClient.light .trend.negative {
    color: #AA0000;
}
.shareClient.light .barcode {
    height: 110px;
    padding: 5px;
    flex-shrink: 0;
}
.shareClient.light .barcode canvas {
    max-width: unset;
    width: 100%;
}


@media screen and (min-width: 700px) {
    .shareClient .barcode {
        height: 150px;
    }
}
@media screen and (prefers-color-scheme: light) {
    .shareClient:not(.light) {
        background-color: #ddd;
        color: black;
    }
    .shareClient:not(.light) .shareHeader {
        background-color: #fff;
    }
}
