@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #eee;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #00458c;
  --secondary: #ff6f61;

  --danger: #e15549;

  /* graph colors */
  --text-color: #ccc;
  --border-color: #333;
  --background-color: #333;
  --grid-color: #444;
}
@media (prefers-color-scheme: light) {
  :root {
     --text-color: #111;
    --border-color: #888;
    --background-color: #fff;
    --grid-color: #bbb;
  }
}
svg {
  flex-shrink: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.small {
  font-size: 0.8em;
  color: #999;
}

button, .btn {
  display: flex;
  align-items: center;
  gap: 10px;


  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  color: #eee;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover, .btn:hover {
  border-color: white;
  color: #eee;
}
button:focus,
button:focus-visible,
.btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.dangerBtn {
  background-color: var(--danger);
  color: white;
}
input {
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 8px;
  background-color: #222;
  border: 2px solid #222;
  transition: border-color 0.25s;
}
@media (prefers-color-scheme: light) {
  input {
    background-color: #eee;
    border: 2px solid #bbb;
  }
}
input:focus-visible {
  outline: none;
  border-color: var(--primary);
}
.warning {
  border: 1px solid orange;
  background-color: rgba(255, 165, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: left;
  margin-bottom: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
